# SPDX-License-Identifier: GPL-2.0-or-later

Source: nemos-images
Section: devel
Priority: optional
Maintainer: NemOS Team <nemos-team@lists.launchpad.net>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.0
Homepage: https://launchpad.net/nemos
Rules-Requires-Root: no

Package: nemos-images-embedded-lunar
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Kiwi NemOS appliance descriptions
 Lunar image descriptions for embedded targets for use with Kiwi.

Package: nemos-images-reference-lunar
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Kiwi NemOS reference appliance descriptions
 Lunar image descriptions for targets for use with Kiwi which demonstrate
 the full capabilities of the NemOS system.
