Source: test-image-embedded-lunar
Section: devel
Priority: optional
Maintainer: Marcus Schaefer <marcus.schaefer@elektrobit.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://osinside.github.io/kiwi
Rules-Requires-Root: no

Package: test-image-embedded-lunar
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EBCL - NautilOS Community Image (Lunar)
 Lunar image descriptions for embedded targets
