#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-or-later

SERIES := lunar mantic
CONFIGS := minimal reference

IMAGES := \
	$(foreach series,$(SERIES), \
		$(foreach config,$(CONFIGS), \
			$(addsuffix -$(series),$(addprefix nemos-images-,$(config))) \
		) \
	)

override_dh_auto_build:

override_dh_auto_install: $(IMAGES)

.PHONY: $(IMAGES)
$(IMAGES):
	install -d -m 755 debian/$(@)/usr/share/kiwi/nemos
	cp -a $(@) debian/$(@)/usr/share/kiwi/nemos/

%:
	dh $@
